<h1>HEY Girlfriend!!!</h1>



<%= link_to "Sign Up Here", signup_path %>
<br>
<br>
OR 
<br>
<br>
<%= link_to "Login  Here", login_path %>

<br>
<br>
<%= link_to "Login with Google", '/auth/google_oauth2' %>